body {
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    color: aqua;
    background-color: rgb(135, 64, 64);
    border: 10px solid peru;
    display: inline-block;
    border-radius: 20%;
}